.header{
    display:flex;
    justify-content: space-between;
    border:solid 1px black;
}

.logo{
    width:150px
}

.nav-items{
    padding: 0px 20px;
}

.nav-items > ul{
    display:flex;
}
.nav-items > ul > li{
    list-style-type:none;
    margin:10px;
    font-weight:bold;
    font-size: 20px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 20px;
    justify-content: center;
}

.res-card{
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    margin: 20px ;
}

.res-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


.search{
    border:solid 1px black;
    margin: 10px;
} 

.res-logoFood{
    width: 100%;
}

.filter-btn{
    margin : 10px;
    cursor : pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 20px;
    justify-content: center;

}

.shimmer-card{
    width: 200px;
    padding: 5px;
    background-color: #e0e0e0;
    border-radius: 8px;
    height: 250px;
}

.login {
    cursor: pointer;

}

.filter{
    display: flex;
}

.user-card{
    padding: 10px;
    border: 1px solid black;
}